## Lets cleaning and preparing our data to get true insight

In [350]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [351]:
data2015 = pd.read_csv('2015.csv')
data2016 = pd.read_csv('2016.csv')
data2017 = pd.read_csv('2017.csv')

In [352]:
data2015.columns = ['Country','Region','HappinessRank','HappinessScore', 'StandandardError','Economy','Family',
                    'Health','Freedom','Corruption','Generosity','DystopiaResidual']
data2016.columns = ['Country','Region','HappinessRank','HappinessScore','LowerConfidence','UpperConfidence', 'Economy','Family',
                    'Health','Freedom','Corruption','Generosity','DystopiaResidual']
data2017.columns = ['Country','HappinessRank','HappinessScore','WhiskerHigh','WhiskerLow','Economy','Family',
                    'Health','Freedom','Generosity','Corruption','DystopiaResidual']

## change data into categorical data

In [353]:
#Country #Region #HappinessRank
#converting into category

data2015.Country = data2015.Country.astype('category')
data2016.Country = data2016.Country.astype('category')
data2017.Country = data2017.Country.astype('category')

data2015.Region = data2015.Region.astype('category')
data2016.Region = data2016.Region.astype('category')

data2015.HappinessRank = data2015.HappinessRank.astype('category')
data2016.HappinessRank = data2016.HappinessRank.astype('category')
data2017.HappinessRank = data2017.HappinessRank.astype('category')

country2015 = data2015.Country.cat.categories
country2015

country2016 = data2016.Country.cat.categories
country2016

#nb: cek tiap isi list ke tiap isi list lainnya
all(x in country2015 for x in country2016)
#ada nama country2015 yg tdk terdapat pada country2016

False

## check missing data

In [354]:
data2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
Country             158 non-null category
Region              158 non-null category
HappinessRank       158 non-null category
HappinessScore      158 non-null float64
StandandardError    158 non-null float64
Economy             158 non-null float64
Family              158 non-null float64
Health              158 non-null float64
Freedom             158 non-null float64
Corruption          158 non-null float64
Generosity          158 non-null float64
DystopiaResidual    158 non-null float64
dtypes: category(3), float64(9)
memory usage: 24.8 KB

In [355]:
data2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
Country             157 non-null category
Region              157 non-null category
HappinessRank       157 non-null category
HappinessScore      157 non-null float64
LowerConfidence     157 non-null float64
UpperConfidence     157 non-null float64
Economy             157 non-null float64
Family              157 non-null float64
Health              157 non-null float64
Freedom             157 non-null float64
Corruption          157 non-null float64
Generosity          157 non-null float64
DystopiaResidual    157 non-null float64
dtypes: category(3), float64(10)
memory usage: 25.9 KB

In [356]:
data2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
Country             155 non-null category
HappinessRank       155 non-null category
HappinessScore      155 non-null float64
WhiskerHigh         155 non-null float64
WhiskerLow          155 non-null float64
Economy             155 non-null float64
Family              155 non-null float64
Health              155 non-null float64
Freedom             155 non-null float64
Generosity          155 non-null float64
Corruption          155 non-null float64
DystopiaResidual    155 non-null float64
dtypes: category(2), float64(10)
memory usage: 25.2 KB

In [357]:
#nb: show the missing value by column
#data2016[data2016.isnull().any(axis=1)]
#data2017[data2017.Region.isnull()]

### Cool. there is no missing data

In [358]:
#nb: fungsi untuk mengurangi lists of string dg list of string juga
#newlistIsnt = [x for x in R2015Country if x not in R2016Country]

In [359]:
#nb: replace nilai nan/null
#data2016 = data2016.replace(np.nan, 'Unknown')
#df.column1 = df.column1.fillna('')
#df = df.fillna('')

## add 'Region'  to our data2017 with merging data2015 & data2016 into data2017

In [360]:
region2015 = data2015[['Country','Region']]
region2016 = data2016[['Country','Region']]
#nb: merging data
# how: left = data di left tulis semua
# right- data di right tulis semua
# inner - irisan
# outer - gabungan
data2017 = pd.merge(data2017, region2015, how='left', on='Country')
data2017 = data2017[['Country','Region','HappinessRank','HappinessScore','WhiskerHigh','WhiskerLow','Economy','Family',
            'Health','Freedom','Generosity','Corruption','DystopiaResidual']]
data2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 13 columns):
Country             155 non-null object
Region              149 non-null category
HappinessRank       155 non-null category
HappinessScore      155 non-null float64
WhiskerHigh         155 non-null float64
WhiskerLow          155 non-null float64
Economy             155 non-null float64
Family              155 non-null float64
Health              155 non-null float64
Freedom             155 non-null float64
Generosity          155 non-null float64
Corruption          155 non-null float64
DystopiaResidual    155 non-null float64
dtypes: category(2), float64(10), object(1)
memory usage: 21.6+ KB

In [361]:
data2017[data2017.isnull().any(axis=1)]

,Country,Region,HappinessRank,HappinessScore,WhiskerHigh,WhiskerLow,Economy,Family,Health,Freedom,Generosity,Corruption,DystopiaResidual
32,Taiwan Province of China,NaN,33,6.422,6.494596,6.349404,1.433627,1.384565,0.793984,0.361467,0.258360,0.063829,2.126607
49,Belize,NaN,50,5.956,6.197242,5.714757,0.907975,1.081418,0.450192,0.547509,0.240016,0.096581,2.631956
70,"Hong Kong S.A.R., China",NaN,71,5.472,5.549594,5.394406,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633
92,Somalia,NaN,93,5.151,5.242484,5.059516,0.022643,0.721151,0.113989,0.602127,0.291631,0.282410,3.117485
110,Namibia,NaN,111,4.574,4.770355,4.377645,0.964434,1.098471,0.338612,0.520304,0.077134,0.093147,1.481890
146,South Sudan,NaN,147,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567

In [362]:
# list2016Country = list(data2016['Country'])
# list2016Region = list(data2016['Region'])
# #nb:create a new dictionary from 2 list
# dict2016 = dict(zip(list2016Country, list2016Region))
# dict2016

In [363]:
#nb: completing your null values in datafarame with other dataframe
data2017['Region'] = data2017['Country'].map(data2016.set_index('Country')['Region']).fillna(data2017['Region'])

In [364]:
data2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 13 columns):
Country             155 non-null object
Region              153 non-null category
HappinessRank       155 non-null category
HappinessScore      155 non-null float64
WhiskerHigh         155 non-null float64
WhiskerLow          155 non-null float64
Economy             155 non-null float64
Family              155 non-null float64
Health              155 non-null float64
Freedom             155 non-null float64
Generosity          155 non-null float64
Corruption          155 non-null float64
DystopiaResidual    155 non-null float64
dtypes: category(2), float64(10), object(1)
memory usage: 21.6+ KB

In [365]:
data2017[data2017.Region.isnull()]

,Country,Region,HappinessRank,HappinessScore,WhiskerHigh,WhiskerLow,Economy,Family,Health,Freedom,Generosity,Corruption,DystopiaResidual
32,Taiwan Province of China,NaN,33,6.422,6.494596,6.349404,1.433627,1.384565,0.793984,0.361467,0.258360,0.063829,2.126607
70,"Hong Kong S.A.R., China",NaN,71,5.472,5.549594,5.394406,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633

In [366]:
#nb: replace nilai nan/null
data2017 = data2017.replace(np.nan, 'Unknown')
data2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155 entries, 0 to 154
Data columns (total 13 columns):
Country             155 non-null object
Region              155 non-null object
HappinessRank       155 non-null int64
HappinessScore      155 non-null float64
WhiskerHigh         155 non-null float64
WhiskerLow          155 non-null float64
Economy             155 non-null float64
Family              155 non-null float64
Health              155 non-null float64
Freedom             155 non-null float64
Generosity          155 non-null float64
Corruption          155 non-null float64
DystopiaResidual    155 non-null float64
dtypes: float64(10), int64(1), object(2)
memory usage: 17.0+ KB